Repository hut8/wikiwalk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, cargo-build-server, cargo-build-tool, ui-lint, ui-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: Rust format
      - id: clippy
        name: Rust clippy
        args: ['--all-targets', '--all-features', '--', '-D', 'warnings']

  - repo: local
    hooks:
      - id: cargo-test
        name: Cargo test
        entry: cargo test --verbose
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-build-server
        name: Cargo build server
        entry: cargo build --release --bin server
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-build-tool
        name: Cargo build tool
        entry: cargo build --release --bin tool
        language: system
        types: [rust]
        pass_filenames: false

      - id: ui-lint
        name: UI lint
        entry: bash -c 'cd wikiwalk-ui && npm run lint'
        language: system
        files: ^wikiwalk-ui/
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: ui-build
        name: UI build
        entry: bash -c 'cd wikiwalk-ui && npm run build'
        language: system
        files: ^wikiwalk-ui/
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

Remove actix-web-lab dependency
  Cargo.lock
  server/Cargo.toml
  server/src/main.rs
Due: cargo-test, cargo-build-server, cargo-build-tool

Fix cargo.lock after bad merge
  Cargo.lock
Due: none

Upgrade Vite to 5.0.13
  wikiwalk-ui/package-lock.json
  wikiwalk-ui/package.json
Due: none

cargo fmt and cargo clippy
  migration/src/m20221201_000001_search.rs
  server/src/content_negotiation.rs
  tool/src/api.rs
  tool/src/edge_db_builder.rs
  tool/src/fetch.rs
  tool/src/main.rs
  tool/src/sitemap.rs
  tool/src/top_graph.rs
  wikiwalk/build.rs
  wikiwalk/src/edge_db.rs
  wikiwalk/src/errors.rs
  wikiwalk/src/paths.rs
  wikiwalk/src/redirect.rs
  wikiwalk/src/schema/mod.rs
  wikiwalk/src/schema/prelude.rs
  wikiwalk/src/version.rs
Due: cargo-test, cargo-build-server, cargo-build-tool

Fix remaining cargo clippy warnings
  migration/src/m20221223_003023_path.rs
  tool/src/edge_db_builder.rs
  tool/src/fetch.rs
  wikiwalk/src/redirect.rs
Due: cargo-test, cargo-build-server, cargo-build-tool

Add internationalization support to UI
  wikiwalk-ui/package-lock.json
  wikiwalk-ui/package.json
  wikiwalk-ui/public/locales/en/common.json
  wikiwalk-ui/public/locales/es/common.json
  wikiwalk-ui/public/locales/fr/common.json
  wikiwalk-ui/src/App.tsx
  wikiwalk-ui/src/LanguageSwitcher.tsx
  wikiwalk-ui/src/PageInput.tsx
  wikiwalk-ui/src/i18n.ts
  wikiwalk-ui/src/main.tsx
Due: ui-lint, ui-build

Remove some google cloud stuff
  stream-build-logs
Due: none

log the top graph path
  server/src/main.rs
Due: cargo-test, cargo-build-server, cargo-build-tool

Improve mobile UI and add Sentry error tracking
  wikiwalk-ui/.env.example
  wikiwalk-ui/.gitignore
  wikiwalk-ui/package-lock.json
  wikiwalk-ui/package.json
  wikiwalk-ui/src/App.tsx
  wikiwalk-ui/src/main.tsx
Due: ui-lint, ui-build

Move executables to /usr/local/bin and systemd units to /etc/systemd/system
  .github/workflows/build.yml
  .justfile
  wikiwalk.path
  wikiwalk.service
Due: none

Fix i18n translations not loading before render
  wikiwalk-ui/src/i18n.ts
  wikiwalk-ui/src/main.tsx
Due: ui-lint, ui-build

Add default namespace to i18n configuration
  wikiwalk-ui/src/i18n.ts
Due: ui-lint, ui-build

Add secure deployment script and remove noisy log
  .github/workflows/build.yml
  .justfile
  deploy-binaries.sh
  tool/src/main.rs
Due: cargo-test, cargo-build-server, cargo-build-tool

Fix 404 error for regional language variants
  wikiwalk-ui/src/i18n.ts
Due: ui-lint, ui-build

Open all external Wikipedia links in new tab
  wikiwalk-ui/src/App.tsx
  wikiwalk-ui/src/PathsDisplay.tsx
  wikiwalk-ui/src/StatusPanel.tsx
Due: ui-lint, ui-build

Add proper User-Agent header for Wikipedia API requests
  tool/src/api.rs
Due: cargo-test, cargo-build-server, cargo-build-tool

Add random page functionality
  server/src/main.rs
  wikiwalk-ui/public/locales/en/common.json
  wikiwalk-ui/public/locales/es/common.json
  wikiwalk-ui/public/locales/fr/common.json
  wikiwalk-ui/src/PageInput.tsx
  wikiwalk-ui/src/service.ts
Due: cargo-test, cargo-build-server, cargo-build-tool, ui-lint, ui-build

Make dice rotation continuous until random page loads
  wikiwalk-ui/src/PageInput.tsx
Due: ui-lint, ui-build

Optimize random page query performance
  Cargo.lock
  server/Cargo.toml
  server/src/main.rs
Due: cargo-test, cargo-build-server, cargo-build-tool

Make PathDisplay responsive on small screens
  wikiwalk-ui/src/PathsDisplay.tsx
Due: ui-lint, ui-build

Improve deployment process with comprehensive wikiwalk-deploy script
  .github/workflows/build.yml
  wikiwalk-deploy
Due: none

Preserve old databases by default during build/pull
  tool/src/main.rs
Due: cargo-test, cargo-build-server, cargo-build-tool

Add server-side SEO meta tag injection for path pages
  server/src/main.rs
Due: cargo-test, cargo-build-server, cargo-build-tool

Add JSON-LD structured data for enhanced SEO
  server/src/main.rs
Due: cargo-test, cargo-build-server, cargo-build-tool

Add graph visualization to path query pages
  wikiwalk-ui/src/PathNetworkGraph.tsx
  wikiwalk-ui/src/PathsDisplay.tsx
Due: ui-lint, ui-build

upgrade these
  Cargo.lock
Due: none

cache is breaking stuff
  .github/workflows/build.yml
Due: none

Add multi-language support infrastructure
  tool/src/main.rs
  wikiwalk/src/lib.rs
  wikiwalk/src/paths.rs
Due: cargo-test, cargo-build-server, cargo-build-tool

configure language during build
  CLAUDE.md
  tool/src/main.rs
Due: cargo-test, cargo-build-server, cargo-build-tool

Fix makeEdges array out of bounds error
  wikiwalk-ui/src/service.ts
Due: ui-lint, ui-build

Fix PathNetworkGraph infinite height growth issue
  wikiwalk-ui/src/PathNetworkGraph.tsx
Due: ui-lint, ui-build

Make PathNetworkGraph height dynamic based on viewport
  wikiwalk-ui/src/PathNetworkGraph.tsx
Due: ui-lint, ui-build

Fix PathNetworkGraph layout with proper left-to-right positioning
  wikiwalk-ui/src/PathNetworkGraph.tsx
  wikiwalk-ui/src/service.ts
Due: ui-lint, ui-build

Improve PathNetworkGraph visibility and spacing
  wikiwalk-ui/src/PathNetworkGraph.tsx
  wikiwalk-ui/src/service.ts
Due: ui-lint, ui-build

Fix graph zoom and positioning to show nodes on opposite sides
  wikiwalk-ui/src/PathNetworkGraph.tsx
  wikiwalk-ui/src/service.ts
Due: ui-lint, ui-build

Minor layout fixes
  wikiwalk-ui/src/PathNetworkGraph.tsx
Due: ui-lint, ui-build

Replace Cosmograph with Sigma.js for graph visualization
  wikiwalk-ui/package-lock.json
  wikiwalk-ui/package.json
  wikiwalk-ui/src/PathNetworkGraph.tsx
  wikiwalk-ui/src/TopNetworkGraph.tsx
  wikiwalk-ui/src/timer.ts
Due: ui-lint, ui-build

Optimize /random endpoint performance with indexed range query
  server/src/main.rs
Due: cargo-test, cargo-build-server, cargo-build-tool

add .logs to gitignore
  .gitignore
Due: none

Fix CI build: Add Node.js 22 setup to GitHub Actions workflow
  .github/workflows/build.yml
Due: none
